In [1]:
import pandas as pd
from geopy.distance import geodesic

In [2]:
try:
    df = pd.read_excel("farmersmarket_2025-58162612.xlsx")
except FileNotFoundError:
    print("Error: 'farmersmarket_2025-58162612.xlsx' not found.")
    print("Please make sure the file exists in the same directory as the script,")
    print("or provide the full path to the file.")
    exit()
except Exception as e:
    print(f"Error reading the file: {e}")
    exit()

In [13]:
df.head()

,listing_id,listing_name,location_address,location_x,location_y
0,300002,Colorado Farm and Art Market,"7350 Pine Creek Road, Colorado Springs, Colora...",-104.814680,38.9377160
1,300003,Market in The Park,"300 Conti, Mobile, Alabama 36602",-88.045015,30.690350
2,300004,The Territory Farmers' Market,"2000 Territory Drive, Galena, Illinois 61036",-90.313530,42.404443
3,300005,City of Plymouth Farmers Market,"15500 County Road 6, Plymouth, Minnesota 55447",-93.473419,44.997274
4,300006,Durham Farmers' Market,"501 Foster Street, Durham, North Carolina 27701",-78.901856,36.000559

In [14]:
print(df.columns)

Index(['listing_id', 'listing_name', 'location_address', 'location_x',
       'location_y'],
      dtype='object')

In [15]:
vazias = []
for col in df:
    if df[col].isna().all():
        vazias.append(col)

In [8]:
df = df[['listing_id', 'listing_name', 'location_address', 'location_x', 'location_y']]

In [9]:
df.head()

,listing_id,listing_name,location_address,location_x,location_y
0,300002,Colorado Farm and Art Market,"7350 Pine Creek Road, Colorado Springs, Colora...",-104.814680,38.9377160
1,300003,Market in The Park,"300 Conti, Mobile, Alabama 36602",-88.045015,30.690350
2,300004,The Territory Farmers' Market,"2000 Territory Drive, Galena, Illinois 61036",-90.313530,42.404443
3,300005,City of Plymouth Farmers Market,"15500 County Road 6, Plymouth, Minnesota 55447",-93.473419,44.997274
4,300006,Durham Farmers' Market,"501 Foster Street, Durham, North Carolina 27701",-78.901856,36.000559

In [11]:
df['location_address'][0]

'7350 Pine Creek Road, Colorado Springs, Colorado 80919'

In [20]:
# Extract the city from the 'location_address' column
df.loc[:, 'city'] = df['location_address'].str.split(',').str[1].str.strip()

# Verify the result
print(df['city'].head())

city_counts = df['city'].value_counts()

# Print the result
print(city_counts)

0    Colorado Springs
1              Mobile
2              Galena
3            Plymouth
4              Durham
Name: city, dtype: object
city
Washington     49
Minneapolis    33
US             27
Los Angeles    25
New York       24
               ..
Laytonville     1
Winterset       1
Delta           1
Unionville      1
Akron           1
Name: count, Length: 5199, dtype: int64

#